* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    width: 350px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
     color: black;
}

.auth-box h2 {
    text-align: center;
    margin-bottom: 10px;
}

.auth-box p {
    text-align: center;
    margin-bottom: 25px;
    font-size: 14px;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #ff7b00;
    border: none;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff5500;
}

.extra-links {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}

.extra-links a {
    color: #c56f06;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}
.message {
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
    min-height: 20px;
}

.message.error {
    color: #ff4d4d;
}

.message.success {
    color: #00ff99;
}